<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sergey1</string>
	<string>Sergey2</string>
	<string>Sergey3</string>
	<string>Sergey4</string>
	<string>Sergey5</string>
	<string>Sergey6</string>
	<string>Sergey7</string>
	<string>Sergey8</string>
	<string>Sergey9</string>
</array>
</plist>
