<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SettingsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9113CBAE1B2F3BD500F9A32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9113CBC21B2F3BD500F9A32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9113CBCD1B2F3BD500F9A32A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
